[[services]]
# Main Flask application
serviceName = "reminder-app"

[services.build]
builder = "NIXPACKS"

[services.deploy]
startCommand = "gunicorn 'app:create_app()'"
healthcheckPath = "/"
restartPolicyType = "ON_FAILURE"
